
//== Variables 

$white-color: #fff;
$black-color: #222;
$error-color: red;


$green-light-color: #a4da879a;
$green-color: #335123;
$grey-dark-color: #2c3e50;
$grey-light-color: #bdc3c7;
$grey-Xlight-color: #f2f2f2;
$eggplant-color: #12002b;
$orange-color: #f49108;


//== Mixins